{% extends "georiva/base.html" %}
{% load static wagtailcore_tags i18n %}

{% block title %}{{ page.seo_title|default:page.title }}{% endblock %}
{% block meta_description %}{{ page.search_description|default:page.hero_subheading }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/georiva-home.css' %}">
{% endblock %}

{% block content %}

    {# 1. Hero #}
    {% include "home/sections/hero.html" %}

    {# 2. Stats Bar #}
    {% include "home/sections/stats_bar.html" %}

    {# 3. Entry Points #}
    {% include "home/sections/entry_points.html" %}

    {# 4. Featured Catalogs #}
    {% include "home/sections/featured_catalogs.html" %}

    {# 5. Datasets List #}
    {% include "home/sections/datasets_list.html" %}

{% endblock %}
